<div id="erlang" data-title="Erlang" data-timer="true" data-lang="erlang" class="step slide">
    <q></q>
</div>

<div id="erlang-intro" data-title="Introduction" data-timer="true" data-lang="erlang" class="step slide">
    <q>
      <ul>
        <li>First version 1986</li>
        <li>Created by Joe Armstrong</li>
        <li>Acronym for Ericsson Language</li>
        <li>Built for the fault-tolerant, distributed needs of telecom</li>
        <li>Behind CouchDB and Riak</li>
      </ul>
    </q>
</div>

<div id="erlang-heritage" data-title="Heritage" data-timer="true" data-lang="erlang" class="step slide">
  <q>
    <ul>
      <li>Prolog syntax</li>
      <li>Lisp paradigm</li>
    </ul>
  </q>
</div>

<div id="erlang-functionality" data-title="Functionality of Erlang" data-timer="true" data-lang="erlang" class="step slide">
  <q>
    <ul>
      <li>No objects</li>
      <li>Immutability</li>
      <li><em>Usually</em> deterministic</li>
      <li>Complied</li>
      <li>Dynamically typed</li>
    </ul>
  </q>
</div>

<div id="erlang-features" data-title="Core Features" data-timer="true" data-lang="erlang" class="step slide">
  <q>
    <strong>Concurrency</strong>
    <ul>
      <li>Runs on a VM (BEAM)</li>
      <li>Lightweight processes instead of threading</li>
      <li>Message passing via actors</li>
  </q>
</div>

<div id="erlang-features-more" data-title="Core Features" data-timer="true" data-lang="erlang" class="step slide">
  <q>
    <strong>Reliability</strong>
    <ul>
      <li>“Let it crash.” — Erlang Mantra</li>
      <li>Limited error checking</li>
      <li>Easy to watch for killed processes</li>
      <li>Hot swap code</li>
  </q>
</div>

<div id="erlang-resources" data-title="Resources" data-timer="true" data-lang="erlang" class="step slide">
  <q>
    <ul>
      <li><em>Learn You Some Erlang<br>for great good!</em><br> by Frederic Tottier-Hebert</li>
    </ul>
  </q>
</div>

<div id="erlang-demo" data-title="Demo" data-timer="true" data-lang="erlang" class="step slide">
  <q>
  </q>
</div>
