<div id="go" data-title="Go" data-timer="true" data-lang="go" class="step slide">
    <q>
        <p>
            <br>
            <img src="/images/gopher.png" alt="">
        </p>
    </q>
</div>

<div id="go-basic" data-title="Basic Information" data-timer="true" data-lang="go" class="step slide">
    <q>
        <ul>
            <li>Built & maintained by Google</li>
            <li>http://golang.org</li>
            <li>Users called 'gophers'</li>
            <li>Search for 'go lang'</li>
        </ul>
    </q>
</div>

<div id="go-pedigree" data-title="Pedigree" data-timer="true" data-lang="go" class="step slide">
    <q>If nothing else piques your interest, it's pedigree should.
		<ul>
			<li>Robert Griesemer</li>
			<li>Rob Pike</li>
			<li>Ken Thompson</li>
		</ul>
	</q>
</div>

<div id="go-history" data-title="History" data-timer="true" data-lang="go" class="step slide">
    <q>
		<ul>
			<li>Designed September 2007</li>
			<li>Released November 2009</li>
            <li>Current version: 1.0.3 (2012-09-24)</li>
		<ul>
	</q>
</div>

<div id="go-why" data-title="Design Goal" data-timer="true" data-lang="go" class="step slide">
    <q>Efficiency of statically typed, compiled language with the ease of programming of a dynamic language.</q>
</div>

<div id="go-influences" data-title="Influences" data-timer="true" data-lang="go" class="step slide">
    <q>
        <ul>
            <li>C</li>
            <li>Python</li>
            <li>Pascal</li>
            <li>some obscure languages</li>
        </ul>
    </q>
</div>

<div id="go-paradigm" data-title="Programming Paradigm" data-timer="true" data-lang="go" class="step slide">
    <q>
        <ul>
            <li>compiled</li>
            <li>concurrent</li>
            <li>imperative</li>
            <li>structured</li>
        </ul>
    </q>
</div>

<div id="go-setup" data-title="Setup" data-timer="true" data-lang="go" class="step slide">
    <q>
        Install binaries from http://golang.org/doc/install
        <code>
            export GOROOT=$HOME/go
            export PATH=$PATH:$GOROOT/bin
        </code>
    </q>
</div>

<div id="go-command" data-title="The Go Command" data-timer="true" data-lang="go" class="step slide">
    <q>
        Usage:
        <code>go command [arguments]</code>
        Examples:
        <code>go run ex1-hello-world.go
              go fmt ex3-variables.go
              go get github.com/lxn/go-pgsql
        </code>
    </q>
</div>

<div id="go-hello-world" data-title="Hello World" data-timer="true" data-lang="go" class="step slide">
    <q>
        <code>package main
            import "fmt"
            func main() {
            &nbsp; &nbsp;fmt.Println("Hello World")
            }
        </code>
    </q>
</div>

<div id="go-variables" data-title="Variables" data-timer="true" data-lang="go" class="step slide">
    <q>
        List of variables (type at end)
        <code>var x, y, z int</code>
        Initialized list of variables
        <code>var x, y, z int = 1, 2, 3</code>
    </q>
</div>

<div id="go-types" data-title="Basic Types" data-timer="true" data-lang="go" class="step slide">
    <q>
        bool, string, int (8, 16, 32, 64), uint (8, 16, 32, 64) uintptr, float32 (64), complex64 (128)
        <br><br>Strings are stored as UTF8!
    </q>
</div>

<div id="go-functions" data-title="Functions" data-timer="true" data-lang="go" class="step slide">
    <q>
        First class functions, higher-order functions, user-defined function types, function literals, closures, and multiple return values.
    </q>
</div>

<div id="go-imports" data-title="Imports" data-timer="true" data-lang="go" class="step slide">
    <q>
        Individual import
        <code>import "fmt"</code>
        Factored import
        <code>import (
            &nbsp; &nbsp; "fmt"
            &nbsp; &nbsp; "math"
        )</code>
    </q>
</div>

<div id="go-data-structures" data-title="Data Structures" data-timer="true" data-lang="go" class="step slide">
    <q>
        <ul>
            <li>Arrays
                <code>nums := []int{7,2,4}</code>
            </li>
            <li>Slices (like Python)
                <code>n := nums[:2] // [7,2]</code>
            </li>
            <li>Maps
                <code>mass := make(map[int]float64)</code>
            </li>
        </ul>
    </q>
</div>

<div id="go-concurrency" data-title="Concurrency" data-timer="true" data-lang="go" class="step slide">
    <q>
        <b>goroutine</b> is a function invocation that executes independently & concurrently <br><br>
        Communicate (via channels) over sharing data
    </q>
</div>

<div id="go-example" data-title="Example" data-timer="true" data-lang="go" class="step slide">
    <q><p>Postgresql Database Connection example</p></q>
</div>

<div id="go-samples" data-title="Other Sample Code" data-timer="true" data-lang="go" class="step slide">
    <q><p>http://github.com/chadmaughan/learn-go</p></q>
</div>

<div id="go-books" data-title="Books" data-timer="true" data-lang="go" class="step slide">
    <q>
        <ul>
            <li>Programming in Go</li>
            <li>Effective Go (golang.org)</li>
            <li>http://tour.golang.org</li>
        </ul>
    </q>
</div>
