<div id="go" data-title="Go" data-timer="true" data-lang="go" class="step slide">
    <q>
        <p>
            <br>
            <img src="/images/gopher.png" alt="">
        </p>
    </q>
</div>

<div id="go-basic" data-title="Basic Information" data-timer="true" data-lang="go" class="step slide">
    <q>
        <ul>
            <li>Built & maintained by Google</li>
            <li>http://golang.org</li>
            <li>Users called 'gophers'</li>
            <li>Search for 'go lang'</li>
        </ul>
    </q>
</div>

<div id="go-pedigree" data-title="Pedigree" data-timer="true" data-lang="go" class="step slide">
    <q>If nothing else piques your interest, it's pedigree should.
		<ul>
			<li>Robert Griesemer</li>
			<li>Rob Pike</li>
			<li>Ken Thompson</li>
		</ul>
	</q>
</div>

<div id="go-history" data-title="History" data-timer="true" data-lang="go" class="step slide">
    <q>
		<ul>
			<li>Designed September 2007</li>
			<li>Released November 2009</li>
            <li>Current version: 1.0.3 (2012-09-24)</li>
		<ul>
	</q>
</div>

<div id="go-why" data-title="Design Goal" data-timer="true" data-lang="go" class="step slide">
    <q>Efficiency of statically typed, compiled language with the ease of programming of a dynamic language.</q>
</div>

<div id="go-influences" data-title="Influences" data-timer="true" data-lang="go" class="step slide">
    <q>
        <ul>
            <li>C</li>
            <li>Python</li>
            <li>Pascal</li>
            <li>some obscure languages</li>
        </ul>
    </q>
</div>

<div id="go-paradigm" data-title="Programming Paradigm" data-timer="true" data-lang="go" class="step slide">
    <q>
        <ul>
            <li>compiled</li>
            <li>concurrent</li>
            <li>imperative</li>
            <li>structured</li>
        </ul>
    </q>
</div>

<div id="go-setup" data-title="Setup" data-timer="true" data-lang="go" class="step slide">
    <q></q>
</div>

<div id="go-hello-world" data-title="Hello World" data-timer="true" data-lang="go" class="step slide">
    <q></q>
</div>

<div id="go-variables" data-title="Variables" data-timer="true" data-lang="go" class="step slide">
    <q></q>
</div>

<div id="go-functions" data-title="Functions" data-timer="true" data-lang="go" class="step slide">
    <q></q>
</div>

<div id="go-imports" data-title="Imports" data-timer="true" data-lang="go" class="step slide">
    <q></q>
</div>

<div id="go-data-structures" data-title="Data Structures" data-timer="true" data-lang="go" class="step slide">
    <q></q>
</div>

<div id="go-example" data-title="Example" data-timer="true" data-lang="go" class="step slide">
    <q></q>
</div>

<div id="go-samples" data-title="Sample Code" data-timer="true" data-lang="go" class="step slide">
    <q><p>http://github.com/chadmaughan/learn-go</p></q>
</div>

<div id="" data-title="" data-timer="true" data-lang="go" class="step slide">
    <q></q>
</div>
