<div id="io" data-title="Io" data-timer="true" data-lang="io" class="step slide">
    <q><p><br><br>Io</p></q>
</div>

<div id="io-basic" data-title="Basic Information" data-timer="true" data-lang="io" class="step slide">
    <q>
        <ul>
            <li>Prototype-based programming language (like JavaScript)</li>
            <li>Search for 'io language'</li>
        </ul>
    </q>
</div>

<div id="io-history" data-title="History" data-timer="true" data-lang="io" class="step slide">
    <q>
        <ul>
            <li>Appeared in 2002</li>
            <li>Steve Dekorte</li>
        </ul>
    </q>
</div>

<div id="io-why" data-title="Why Io?" data-timer="true" data-lang="io" class="step slide">
    <q>
        <ul>
            <li>Embeddable</li>
            <li>Multi-state (multiple VMs in same process)</li>
            <li>Actor-based concurrency</li>
            <li>Coroutines</li>
            <li>Raspberry Pi binary (woop!)</li>
        </ul>
    </q>
</div>

<div id="io-influences" data-title="Influences" data-timer="true" data-lang="io" class="step slide">
    <q>
        <ul>
            <li>Smalltalk</li>
            <li>Self</li>
            <li>Act1</li>
            <li>LISP</li>
            <li>Lua</li>
        </ul>
    </q>
</div>

<div id="io-paradigm" data-title="Programming Paradigms" data-timer="true" data-lang="io" class="step slide">
    <q>
        <ul>
            <li>object-oriented</li>
            <li>prototype-based</li>
        </ul>
    </q>
</div>

<div id="io-typing" data-title="Typing" data-timer="true" data-lang="io" class="step slide">
    <q>
        <ul>
            <li>dynamic</li>
            <li>strong</li>
        </ul>
    </q>
</div>

<div id="io-setup" data-title="Setup" data-timer="true" data-lang="io" class="step slide">
    <q>
        <ul>
            <li>Linux (Debian based):<br> <code>apt-get install io</code></li>
            <li>OSX: <code>brew install io</code></li>
            <li>Windows: ?</li>
        </ul>
    </q>
</div>

<div id="io-interpreter" data-title="Interpreter" data-timer="true" data-lang="io" class="step slide">
    <q>
        Similar to Python & Ruby <br><br>
        <code>$ io
            Io 20090105
            Io></code>
    </q>
</div>

<div id="io-hello-world" data-title="Hello World" data-timer="true" data-lang="io" class="step slide">
    <q>
        <code>Io> "Hello World" print
            Hello World==> Hello World
        </code>
    </q>
</div>

<div id="io-variables" data-title="Variables" data-timer="true" data-lang="io" class="step slide">
    <q></q>
</div>

<div id="io-prototypes" data-title="Prototypes" data-timer="true" data-lang="io" class="step slide">
    <q></q>
</div>

<div id="io-concurrency" data-title="Concurrency" data-timer="true" data-lang="io" class="step slide">
    <q></q>
</div>

<div id="io-actors" data-title="Actors" data-timer="true" data-lang="io" class="step slide">
    <q></q>
</div>

<div id="io-example" data-title="Example" data-timer="true" data-lang="io" class="step slide">
    <q></q>
</div>

<div id="io-books" data-title="Books" data-timer="true" data-lang="io" class="step slide">
    <q>
        <ul>
            <li>Seven Languages in Seven Weeks</li>
            <li>http://www.iolanguage.com/scm/io/docs/IoGuide.html</li>
        </ul>
    </q>
</div>
