<div id="lisp" data-title="Lisp" data-timer="true" data-lang="lisp" class="step slide">
    <q></q>
</div>

<div id="lisp-basic" data-title="Basic Information" data-timer="true" data-lang="lisp" class="step slide">
    <q>
        <ul>
          <li><em>LIS</em>t <em>P</em>rocessing</li>
            <li>Family of Languages</li>
            <li>One of the first FP languages</li>
            <li>Multiparadigm today</li>
            <li>Incredibly expressive</li>
        </ul>
    </q>
</div>

<div id="lisp-history" data-title="History" data-timer="true" data-lang="lisp" class="step slide">
    <q>
		<ul>
			<li>Invented by John Mcarthy in 1958</li>
      <li>Meant as notation for describing computation</li>
      <li>Languages are notation, not technology!</li>
		<ul>
	</q>
</div>

<div id="lisp-dialects" data-title="Dialects" data-timer="true" data-lang="lisp" class="step slide">
    <q>
		<ul>
      <li>Common Lisp</li>
      <li>Scheme</li>
      <li>Clojure</li>
      <li>
        <div class="smallList">
          Arc, AutoLISP, Emacs Lisp, ISLISP, Newlisp, Picolisp,
          Racket, Scheme, SKILL, EuLisp, Franz Lisp, Interlisp,
          LeLisp, Maclisp, MDL, NIL, Portable Standard Lisp, Spice
          Lisp, T, XLISP, Zetalisp
        </div>
      </li>
		<ul>
	</q>
</div>

<div id="lisp-inovations" data-title="Inovations" data-timer="true" data-lang="lisp" class="step slide">
  <q>
    <li>Automatic garbage collection</li>
    <li>If-then-else constructs</li>
    <li>Tail-call optimization</li>
    <li>Homoiconicity</li>
  </q>
</div>

<div id="lisp-syntax" data-title="Syntax" data-timer="true" data-lang="lisp" class="step slide">
  <q>
    <ul>
      <li>Parenthesized polish prefix notation</li>
        <ul>
          <li>y = m * x + b</li>
          <li>(def y (+ (* m x) b)</li>
        </ul>
      </li>
      <li>Only one form of function call</li>
    </ul>
  </q>
</div>

<div id="lisp-syntax-2" data-title="Syntax" data-timer="true" data-lang="lisp" class="step slide">
    <q>
      <ul>
        <li>3 kinds of <em>things</em></li>
        <ul>
          <li>Functions</li>
          <li>Macros</li>
          <li>Special forms</li>
        </ul>
      </ul>
    </q>
</div>

<div id="lisp-example" data-title="Example" data-timer="true" data-lang="lisp" class="step slide">
</div>

<div id="lisp-books" data-title="Books" data-timer="true" data-lang="lisp" class="step slide">
    <q></q>
</div>
