<div id="r" data-title="R" data-lang="r" data-timer="true" class="step slide">
    <q></q>
</div>

<div id="why-r" data-title="Why R" data-lang="r" class="step slide">
    <q><ul>
        <li>Open source</li>
        <li>Great graphics</li>
        <li>Widely used in academia & businesses</li>
    </ul></q>
</div>

<div id="r-packages" data-title="R Packages" data-lang="r" class="step slide">
    <q>>isntall.packages("psych")
        >library(psych) #loads
        >search()       #lists packages</q>
</div>
