<div id="r" data-title="R" data-lang="r" data-timer="true" class="step slide">
    <p>
        <br><br><br><br><br>
        <img src="/images/r-logo.png" width="" height="" alt="">
    </p>
</div>

<div id="r-basic" data-title="Basic Information" data-timer="true" data-lang="r" class="step slide">
    <q>
        <ul>
            <li>R is a language and environment for statistical computing and graphics.</li>
            <li>http://www.r-project.org</li>
            <li>Search for 'R language'</li>
        </ul>
    </q>
</div>

<div id="r-history" data-title="History" data-timer="true" data-lang="r" class="step slide">
    <q>
        <ul>
            <li>Appeared in 1993</li>
            <li>Current version: 2.15.1</li>
            <li>No pirate affiliation (get it, 'arrr')</li>
        </ul>
    </q>
</div>

<div id="why-r" data-title="Why R" data-lang="r" class="step slide">
    <q><ul>
        <li>Open source</li>
        <li>Great graphics</li>
        <li>Widely used in academia & business</li>
        <li><b>Statistics rule!</b></li>
    </ul></q>
</div>


<div id="r-influences" data-title="Influences" data-timer="true" data-lang="r" class="step slide">
    <q>
        <ul>
            <li>S</li>
            <li>Scheme</li>
        </ul>
    </q>
</div>

<div id="r-paradigm" data-title="Multi-paradigm" data-timer="true" data-lang="r" class="step slide">
    <q>
        <ul>
            <li>array</li>
            <li>object-oriented</li>
            <li>imperative</li>
            <li>functional</li>
            <li>procedural</li>
            <li>reflective</li>
        </ul>
    </q>
</div>

<div id="r-typing" data-title="Typing" data-timer="true" data-lang="r" class="step slide">
    <q><ul><li>Dynamic</li></ul></q>
</div>

<div id="r-setup" data-title="Setup" data-timer="true" data-lang="r" class="step slide">
    <q>
        Install binaries from R mirror and double-click to run
    </q>
</div>

<div id="r-hello-world" data-title="Hello World" data-timer="true" data-lang="r" class="step slide">
    <q>
        <code>>version
            language       R
            version.string R version 2.15.1 (2012-06-22)
            nickname       Roasted Marshmallows
            >'hello world'
            [1] "hello world"
        </code>
    </q>
</div>

<div id="r-variables" data-title="Variables" data-timer="true" data-lang="r" class="step slide">
    <q>
        Use '=' or '<-' to assign a variable
    </q>
</div>

<div id="r-data-structures" data-title="Data Structures" data-timer="true" data-lang="r" class="step slide">
    <q>
        <ul>
            <li>Vector</li>
            <li>Matrix</li>
            <li>Array</li>
            <li>Data Frame</li>
            <li>List</li>
        </ul>
    </q>
</div>

<div id="r-data-structures-picture" data-title="Data Structures" data-timer="true" data-lang="r" class="step slide">
    <q>
        <p>
            <img src="/images/r-data-structures.jpg" style="display: block; text-align: center; padding-top: 20px; padding-left: 20%" alt="">
            Source: R in Action
        </p>
    </q>
</div>

<div id="r-packages" data-title="R Packages" data-lang="r" class="step slide">
    <q>
        Loads of third party packages <br><br>
        <code>>install.packages("psych")
        >library(psych)    #loads
        >search()          #lists packages
        </code></q>
</div>

<div id="r-graphs" data-title="Graphs" data-timer="true" data-lang="r" class="step slide">
    <q>
        <code>data<-read.table("data.txt")
              des<-data[grep("des",data$cond),]
              hist(des$pre.wm.s)
              hist(des$post.wm.s)
        </code>
    </q>
</div>

<div id="r-statistical-analysis" data-title="Statistical Analysis" data-timer="true" data-lang="r" class="step slide">
    <q>
        <code>data<-read.table("data.txt")
              des<-data[grep("des",data$cond),]
              describe(des)
        </code>
    </q>
</div>

<div id="r-batch-mode" data-title="Batch Mode" data-timer="true" data-lang="r" class="step slide">
    <q>
        You can run saved scripts
        <code>$r CMD BATCH ./ex1-variables.r</code>
    </q>
</div>

<div id="r-books" data-title="Books" data-timer="true" data-lang="r" class="step slide">
    <q>
        <ul>
            <li>R in Action</li>
            <li>An Introduction to R (free PDF)</li>
        </ul>
    </q>
</div>