<div id="ruby" data-title="Ruby" data-timer="true" data-lang="ruby" class="step slide">
  <q>
    <p><img src="images/ruby-logo.png" alt="Ruby"></p>
  </q>
</div>

<div id="ruby-intro" data-title="Intro" data-timer="true" data-lang="ruby" class="step slide">
  <q>
    <ul>
      <li>Created in 1993</li>
      <li>By Yukihiro “Matz” Matsumoto</li>
      <li>A Mormon!</li>
    </ul>
    <blockquote>
      &ldquo;The only programming language created by someone with the Gift of the Holy Ghost&rdquo;
    </blockquote>
  </q>
</div>

<div id="ruby-basics" data-title="Ruby Basics" data-timer="true" data-lang="ruby" class="step slide">
  <q>
    <ul>
      <li>Homepage: <a href="http://www.ruby-lang.org" target="_blank">ruby-lang.org</a></li>
      <li>Documentation: <a href="http://ruby-doc.org" target="_blank">ruby-doc.org</a></li>
      <li>In Browser: <a href="http://tryruby.org" target="_blank">tryruby.org</a></li>
    </ul>
  </q>
</div>

<div id="ruby-figs" data-title="Key Figures" data-timer="true" data-lang="ruby" class="step slide">
  <q>
    <ul>
      <li>Yukihiro “Matz” Matsumoto<br>➜ Creator</li>
      <li>_why the lucky stiff<img src="images/chunkybacon.png" alt="" width="200px" style="position:fixed; z-index: -1; margin-left: 150px"><br>➜ why’s (poignant) Guide</li>
      <li>David Heinemeier Hansson<br>➜ Ruby on Rails</li>
    </ul>
  </q>
</div>

<div id="ruby-design" data-title="Ruby Design" data-timer="true" data-lang="ruby" class="step slide">
  <q>
    Matz:
    <blockquote>
      &ldquo;Ruby is simple in appearance, but is very complex inside, just like our human body&rdquo;
    </blockquote>
    <blockquote>
      &ldquo;I wanted a scripting language that was more powerful than Perl, and more object-oriented than Python&rdquo;
    </blockquote>
  </q>
</div>

<div id="ruby-influences" data-title="Ruby Influences" data-timer="true" data-lang="ruby" class="step slide">
  <q>
    <ul>
      <li>Perl</li>
      <li>Smalltalk</li>
      <li>Eiffel</li>
      <li>Ada</li>
      <li>Lisp</li>
    </ul>
  </q>
</div>

<div id="ruby-paradigm" data-title="Programming Paradigm" data-timer="true" data-lang="ruby" class="step slide">
  <q>
    <ul>
      <li>object-oriented</li>
      <li>dynamic</li>
      <li>interpreted</li>
    </ul>
  </q>
</div>

<div id="ruby-features" data-title="Core Features" data-timer="true" data-lang="ruby" class="step slide">
  <q>
    <ul>
      <li>Everything is an object</li>
      <li>Closures: blocks, lambdas</li>
      <li>Modules/mixins (think interface)</li>
      <li>Metaprogramming, DSL</li>
      <li>Open Classes</li>
    </ul>
  </q>
</div>

<div id="ruby-strengths" data-title="Strengths" data-timer="true" data-lang="ruby" class="step slide">
  <q>
    <ul>
      <li>Syntactic sugar</li>
      <li>Beautiful readable code</li>
      <li>Promotes developer productivity</li>
    </ul>
  </q>
</div>

<div id="ruby-good-at" data-title="What’s it good for?" data-timer="true" data-lang="ruby" class="step slide">
    <q>
      <ul>
        <li>Scripting</li>
        <li>Testing</li>
        <li>Web Development
          <ul>
            <li><a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a></li>
            <li><a href="http://www.sinatrarb.com" target="_blank">Sinatra</a></li>
          </ul>
        </li>
      </ul>
    </q>
</div>

<div id="ruby-setup" data-title="Setup" data-timer="true" data-lang="ruby" class="step slide">
    <q>
      <ul>
        <li>OS X/Linux: <a href="https://rvm.io" target="_blank">rvm</a></li>
        <li>Windows: <a href="http://rubyinstaller.org/" target="_blank">RubyInstaller</a></li>
      </ul>
    </q>
</div>

<div id="ruby-demo" data-title="Demo" data-timer="true" data-lang="ruby" class="step slide" style="background-image: url('images/sinatra.gif')">
    <q>
    </q>
</div>
