<div id="scala" data-title="Scala" data-timer="true" data-lang="scala" class="step slide">
    <q></q>
</div>

<div id="scala-intro" data-title="Introduction" data-timer="true" data-lang="scala" class="step slide">
  <q>
    <ul>
      <li>Created by Martin Odersky</li>
      <li>“A Better Java”</li>
      <li>Runs on the JVM</li>
      <li>Both object-oriented and functional</li>
    </ul>
  </q>
</div>

<div id="scala-java-diff" data-title="Differences from Java" data-timer="true" data-lang="scala" class="step slide">
  <q>
    <ul>
      <li>Type inference</li>
      <li>Functional</li>
      <li>Immutable variables</li>
      <li>Actors</li>
      <li><span style="font-family: monospace">public</span> is default</li>
      <li>More concise</li>
    </ul>
  </q>
</div>

<div id="scala-features" data-title="Features" data-timer="true" data-lang="scala" class="step slide">
  <q>
    <ul>
      <li>Traits (think interface + implementation)</li>
      <li>Higher order functions</li>
      <li>Pattern matching</li>
    </ul>
  </q>
</div>

<div id="scala-strengths" data-title="Strengths" data-timer="true" data-lang="scala" class="step slide">
  <q>
    <ul>
      <li>Java integration</li>
      <li>Concurrency via actors</li>
      <li>Pick your own paradigm</li>
      <li>XML support</li>
    </ul>
  </q>
</div>

<div id="scala-demo" data-title="Demo" data-timer="true" data-lang="scala" class="step slide">
  <q></q>
</div>